body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
    padding-top: 20px;
}
h4 {
    margin: 0 auto;
    color: #000000;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5%;
}
label {
    margin-bottom: 15px;
    font-weight: bold;
}
select.caracter {
    font-size: 16px; /* Cambia el tamaño de la letra */
    border: 1px solid #ccc; /* Color del borde por defecto */
    padding: 5px; /* Espaciado interior */
    border-radius: 8px; /* Bordes redondeados */
}
button {
    width: 100px;
    background-color: #f44336;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px 5px;
    margin-left: 13px;
}
.container {
    width: 100vh;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.caracter {
    height: 50px;
    width: auto;
    border-radius: 8px;
    border: 1px solid black;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
    padding: 0 15px; /* Ajustar según sea necesario */
    margin-bottom: 30px;
}

.caracteristicas{
    justify-content: space-between;
    padding: 5px;
}
.input-group {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}











table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #1a3d5d;
}

th {
    background-color: #01c38d;
    color: #ffffff;
    text-transform: uppercase;
}

td {
    background-color: #ffffff;
    color: #555;
}

tbody tr:nth-child(even) {
    background-color: #555;
}

