/* Custom styles for the repository page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa;
}

.research-card {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}

.btn {
    background-color: rgb(16, 16, 52);
    color: white;
}

.btn:hover {
    background-color: rgb(30, 30, 70);
}

#searchBar {
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .card {
        margin-bottom: 20px;
    }
    .card-body {
        text-align: center;
    }
    .btn {
        display: block;
        width: 100%;
    }
}
