
body {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222020;
    background-image: url('../img/FondoMontania.png');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.header-degradado {
    background: radial-gradient(circle, rgba(234, 255, 0, 0.7), rgba(151, 248, 255, 0.8), rgba(153, 255, 121, 0.9));
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    padding-left: 8%;
}

h1 {
    color: #ffffff;
    margin: 0;
    font-style: italic;
}

h3 {
    margin: 5px 0;
    color: #ffffff;
    text-align: center;
}
.center {
    text-align: center;
    flex: 1;
}

.usuario {
    display: flex;
    align-items: center;
}

.usuario img {
    margin-left: 10px;
}
/*para el nombre e icono del usuario*/
.usuario {
    display: flex;
    align-items: center;
    margin-right: 2%;
}
/*modificar tamaño de imagen*/
.usuario img {
    width: 40px;
    margin-left: 10px;
}

