body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../Imgs/fondoLogin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center; /* Centrar en el eje X */
    align-items: center; /* Centrar en el eje Y */
    height: 100vh; /* Hacer que ocupe toda la altura de la ventana */
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Agregar transición para suavizar el efecto */
}

.login-container:hover {
    transform: scale(1.05); /* Escalar ligeramente al pasar el ratón para un efecto de elevación */
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #666;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
