body {
    font-family: 'Arial', sans-serif;
}

.container-fluid {
    padding: 0;
}

.list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
}

.card {
    margin-top: 20px;
}

.card-header, .card-footer {
    background-color: #f8f9fa;
}

.burbuja{
    background-color: #a1c4e7;
    height: 50px;
    width: 100%;
    border-radius: 20px;
}

.burbuja::-webkit-scrollbar {
    width: 10px;
}