body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h5 {
    color: #000000;
    font-size: 16px;
}

label {
    font-weight: bold;
}

textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
}

.submit-container {
    text-align: right;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.participantes, .comentarios {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    height: auto;
    cursor: pointer;
    font-family: Sans-serif;
}
.tema_seleccionado{
    width: 104vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    box-shadow: 5px 1px #888888;
}
.contenedor_comen{
    grid-column: 2 / 3; /* Colocar en la segunda columna */
}
.boton_regreso{
    margin-top: 38%;
}